@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}

.animate-loading {
  animation: loading 1.5s linear infinite;
  width: 30%;
  opacity: 0.8;
}
